/* - Module 2 Solution CSS - Jackson Davies - 2020 - */
* {
  margin: 0px;
  padding: 0px;
  font-family: "century gothic", sans-serif;
}

section {
  clear: right;
  padding: 10px;
}

.section-head {
  width: 120px;
  height: 30px;
  padding-top: 5px;
  position: relative;
  float: right;
  font-size: 1.25em;
  border: solid 2px black;
  text-align: center;
  top: -2px;
  right: -2px;
}

h1 {
  margin: 20px;
  font-size: 1.75em;
}

.container {
  box-sizing: border-box;
  display: inline-block;
  width: 100%;
  height: 600px;
  padding-top: 10px;
  overflow: auto;
  position: absolute;
}

.box {
  box-sizing: border-box;
  border: solid 3px black;
  background-color: #999999;
  height: 300px;
  overflow: hidden;
}

#box-1 .section-head {
  background-color: #D59798;
  color: #000000;
}
#box-2 .section-head {
  background-color: #C14543;
  color: #ffffff;
}
#box-3 .section-head {
  background-color: #E5D097;
  color: #000000;
}

/*mobile*/
@media (max-width: 767px) {

    .container {
      height: 1500px;
    }

    .col-xs-12 {
      width: 98%;
      float: left;
      margin: 1%;
}

}

/*tablet*/
@media (min-width: 768px) and (max-width: 991px) {

  .container {
    height: 500px;
  }

  .col-md-6 {
    float: left;
    width: 48%;
    margin: 1%;
  }

  .col-md-12 {
    width: 98%;
    margin: 1%;
    clear: left;
  }

}

/*desktop*/
@media (min-width: 992px) {

  .container {
    height: 500px;
  }

  .col-lg-4 {
    float: left;
    width: 31%;
    margin: 1%;
  }

}
